<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My Awesome CV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<!-- Header -->
<!--<header>
    <nav class="navbar navbar-expand-lg navbar-dark black">
        <div class="container">
            <a class="navbar-brand" href="#"><strong>${user.firstName} ${user.lastName}</strong></a>
            <a class="navbar-brand" href="#">${user.jobStatus}</a>
        </div>
    </nav>
</header>-->
<header>

    <div class="view intro-2">
        <div class="full-bg-img">
            <div class="mask rgba-black-strong flex-center">
                <div class="container">
                    <div class="white-text text-center wow fadeInUp">
                        <h2>This Navbar isn't fixed</h2>
                        <h5>When you scroll down it will disappear</h5>
                        <br>
                        <p>Full page intro with background image will be always displayed in full screen mode, regardless
                            of device </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="container">
    <span th:text="${message}"></span> <!--plus tard là où on écrira, section ajoutée etc"-->
</div>
<!--<body style="background-color: floralwhite; color: rgb(0, 0, 0);">
</body>-->
</html>